# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Project specific
storage/
*.pth
*.mp4
*.wav
*.jpg
*.png

# OS specific
.DS_Store
Thumbs.db
